{{ $name := .Get "name" }}
{{ $role := .Get "role" }}
{{ $photo := .Get "photo" }}
<div class="not-prose person">
  <div class="person__side">
    {{ with $photo }}
      <img src="{{ . }}" alt="{{ $name }}" class="person__photo" loading="lazy" />
    {{ end }}
    <div>
      <div class="person__name">{{ $name }}</div>
      {{ with $role }}
        <div class="person__role">{{ . }}</div>
      {{ end }}
    </div>
  </div>
  <div class="prose max-w-none dark:prose-invert person__bio">
    {{ .Page.RenderString .Inner }}
  </div>
</div>
